.sub-heading {
	h2 {
		position: relative;
		background-image: linear-gradient(
			to right,
			var(--main-color) 40%,
			var(--orange-c)
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		&::before,
		&::after {
			position: absolute;
			content: "";
			top: 50%;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: var(--main-color);
		}
		&::before {
			left: -25px;
		}
		&::after {
			right: -25px;
		}
	}
}
